
/* As cores do app estão configuradas nas variáveis abaixo */

$theme-colors: (
  "primary": #f10f2d,
  "secondary": #192b2f,
  "success": hsl(141, 71%, 48%),
  "danger": hsl(348, 100%, 61%),
  "warning": hsl(48, 100%, 67%),
  "light": #e7e7e7,
  "dark": rgb(8, 8, 8),
);

@import "../../../node_modules/bootstrap/scss/bootstrap";